# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
.python-version
.venv/

# Packaging
*.egg
*.egg-info/
dist/
build/

# Virtualenv
env/
venv/

# Editors
.idea/
.vscode/

# OS
.DS_Store

# Tests
.pytest_cache/
.coverage
htmlcov/
.env
.copilot
data/
outputs/