# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.ruff_cache/
.python-version
.venv/

# Packaging
*.egg
*.egg-info/
dist/
build/

# Virtualenv
env/
venv/

# Nodejs
node_modules/
.vite/

# Editors
.idea/
.vscode/

# OS
.DS_Store

# Tests
.pytest_cache/
.coverage
htmlcov/
.env
.copilot
data/
!data/.gitkeep
!data/**/.gitkeep
tmp/
outputs/
